<launch>

<rosparam file="$(find quadruped-asbuilt_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="quadruped-asbuilt" args="joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/quadruped-asbuilt/joint_states"/>
</node>

</launch>